@model BudgetManager.Model.Account

@{
    ViewData["Title"] = "Account Details";
}

<h2>Account Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Account Type
        </dt>
        <dd class="col-sm-10">
            @Model.AccountType.AccountName
        </dd>
        <dt class="col-sm-2">
            Balance
        </dt>
        <dd class="col-sm-10">
            @Model.Balance€
        </dd>
    </dl>
</div>

<h4>Transactions</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Transaction Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.Transactions)
        {
            <tr>
                <td>@transaction.TransactionName</td>
                <td>@transaction.TransactionDate.ToString("dd-MM-yyyy")</td>
                <td>@transaction.Amount€</td>
                <td>@transaction.Description</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</p>
